<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/create">Create Puddle</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</nav>