<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="/js/script.js"></script>
</head>
<body>
    <header>
        <h1>Splasher</h1>
    </header>

    <div class="signupContainer">
        <form action="/signup" method="POST">
            <fieldset>
                <legend>Sign Up</legend>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required/>

                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required/>

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required/>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required/>

                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required/>

                <label for="dateOfBirth">Date of Birth:</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" required/>

                <label for="sexM">Male</label>
                <input type="radio" id="sexM" name="sex" value="M"/>

                <label for="sexF">Female</label>
                <input type="radio" id="sexF" name="sex" value="F"/>

                <label for="sexNULL">Prefer Not To Say</label>
                <input type="radio" id="sexNULL" name="sex" value="NULL" checked/>

                <label for="password">Create Password:</label>
                <input type="password" id="password" name="password" required/>

                <!-- <label for="passwordConfirm">Confirm Password:</label>
                <input type="password" id="passwordConfirm" name="password" required/> -->

                <input type="submit" id="signUpSubmit" name="signUpSubmit" value="Sign In" />
            </fieldset>
        </form>
    </div>

    <div class="redirectLogIn">
        <p>Have an account? <a href="/">Log In</a></p>
    </div>

    <div id="popUpMessage">
        <% if(typeof(message) != "undefined") {%>
            <%= message %>
            <script>
                setTimeout(function () {
                    var x = document.getElementById("popUpMessage");
                    x.style.display = "none";
                }, 3000);
            </script>
        <% } %>
    </div>
</body>
</html>