<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <script src="/js/script.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
</head>
<body>

    <div class="signUpContainer">
        <form action="/signup" method="POST">
            <fieldset>
                <legend>Splasher</legend>

                <input type="text" id="username" name="username" placeholder="Username" required/>

                <input type="text" id="firstName" name="firstName" placeholder="First Name" required/>

                <input type="text" id="lastName" name="lastName" placeholder="Last Name" required/>

                <input type="email" id="email" name="email" placeHolder="Email" required/>

                <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" placeholder="Phone Number" required/>

                <label for="dateOfBirth">Date of Birth</label>
                <input type="date" id="dateOfBirth" name="dateOfBirth" required/>

                <label for="sex">Select Gender</label>
                <select id="sex" name="sex">
                    <option id="sexNULL" value="NULL" selected>Prefer Not To Say</option>
                    <option id="sexM" value="M">Male</option>
                    <option id="sexF" value="F">Female</option>
                </select>
                
                <input type="password" id="password" name="password" placeholder="Create Password" required/>

                <!-- <label for="passwordConfirm">Confirm Password:</label>
                <input type="password" id="passwordConfirm" name="password" required/> -->

                <input type="submit" id="signUpSubmit" name="signUpSubmit" value="Sign In" />
            </fieldset>
        </form>
    </div>

    <div class="redirectLogIn">
        <p>Have an account? <a href="/">Log In</a></p>
    </div>

    <div id="popUpMessage">
        <% if(typeof(message) != "undefined") {%>
            <%= message %>
            <script>
                setTimeout(function () {
                    var x = document.getElementById("popUpMessage");
                    x.style.display = "none";
                }, 3000);
            </script>
        <% } %>
    </div>
</body>
</html>